@import url('_reset.css');
@import url('_scroll.css');

:root {
    --primary-font: Roboto, Helvetica, sans-serif;
    --background: linear-gradient(0deg, rgba(241, 230, 255, 1) 0%, rgba(249, 245, 255, 1) 100%);
    --surface: #ffffff;
    --on-surface: #f8f4ff;
    --primary: #2A2A62;
    --secondary: #9A81B9;
    --tertiary: #DFD4EE;
    --card: linear-gradient(45deg, rgba(241, 230, 255, 1) 0%, rgb(183, 163, 213) 100%);
}

body {
    background: var(--background);
}

.block {
    display: flex;
    align-items: center;
    gap: 1rem;

    & img {
        width: 40px;
        height: auto;
    }

    & p {
        font-weight: 700;
        margin: 0;
    }

    & p:last-child {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0;
    }
}


.container {


    & .banner {
        align-items: center;
        background-color: var(--surface);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        min-height: 60vh;
        padding: 2.5rem;
        width: 100%;


        & img:nth-child(1) {
            height: auto;
            width: 180px;
        }

        & div {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            justify-content: center;
            align-items: center;
        }

        & hr {
            border: 1px solid var(--tertiary);
            width: 200px;
        }

        & h1 {
            color: var(--primary);
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 160%;
            text-align: center;

        }

        @media (max-width: 576px) {
            h1 {
                font-size: 1.6rem;
            }
        }

        & img {
            width: 360px;
            height: auto;
        }

    }

}

.btn-primary {
    padding: 12px 32px;
    background: var(--primary);
    border: 1px solid #2A2A62;


    &:hover {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
    }

    &:focus {
        background-color: var(--tertiary);
    }

    &:active {
        background-color: var(--secondary) !important;
    }

}

.btn-outline-primary {
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 12px 32px;

    &:hover {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
    }

    &:focus {
        background-color: var(--tertiary);
    }

    &:active {
        background-color: var(--secondary) !important;
    }

}

.card-block {
    background: #ffffff;
    border-radius: 0.8rem;
    padding: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    & h2 {
        font-size: 2rem;
        color: var(--primary);
        font-weight: 600;
    }
}

.table-currency {

    & div {
        border-radius: 0.6rem;
        overflow: hidden;
    }

    & h2 {
        color: var(--primary);
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    @media (max-width: 576px) {
        h2 {
            font-size: 1.2rem;
        }
    }

}

.block-slider {
    max-height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;

    & img {
        object-fit: cover;
    }

}

.carousel-caption {
    background-color: rgba(255, 255, 255, .65);
    backdrop-filter: blur(2px);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-align: center;
    max-height: fit-content;
    border-radius: 0.6rem;
    color: var(--primary);
    width: 65%;

    & h5 {
        font-size: 2.2rem;
        font-weight: 800;
    }

    & p {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

& .profile-section {
    align-items: flex-start;
    background-color: var(--surface);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    min-height: 50vh;
    padding: 1.6rem;

    & h3 {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--secondary);
        margin: 0;
    }

    & h4 {
        color: var(--primary);
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0;
    }

    & .card-container {
        aspect-ratio: 1.5/1;
        border-radius: 12px;
        padding: 18px;
        width: 260px;
        display: flex;
        color: var(--primary);
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background: var(--card);
        box-shadow: 4px 4px 12px #ebebeb,
            -4px -4px 12px #ebebeb;

        & div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & p {

            font-weight: 600;
            margin: 0;
            font-size: 0.9rem;
        }
    }
}

.profile-nav {
    padding: 0.8rem;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    background-color: var(--on-surface);
    border-radius: 0.6rem;

    & ul {
        display: flex;
        width: 100%;
        gap: 2rem;
        justify-content: center;
        margin: 0;
        padding: 0;
        color: var(--secondary);
    }

    & li:hover {
        color: var(--primary);
        transition: all 0.4s ease-in-out;
    }

    & .active-link {
        color: var(--primary);
        font-weight: 600;
    }

    @media (min-width: 780px) {
        ul {
            justify-content: flex-start;
            padding-left: 1rem;
        }
    }

}


.body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    & h2 {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
}

.accounts {
    flex-direction: column;
    display: flex;
    flex-grow: 1;

    & h2 {
        margin: 0;
        align-self: center;
    }

    @media (max-width: 991px) {
        h2 {
            width: 100%;
            text-align: center;
        }
    }
}

.table-transaction {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & h2 {
        margin: 0;
        align-self: center;
    }

    @media (max-width: 991px) {
        h2 {
            width: 100%;
            text-align: center;
        }
    }
}

.hide-img {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    justify-content: center;

    & img {
        margin: 0 auto;
        opacity: 0.25;
        width: 120px;
    }

    & p {
        margin: 0;
    }
}

.chart {
    flex-direction: column;
    display: flex;
    flex-grow: 1;

    & h2 {
        margin: 0;
        align-self: center;
    }

    @media (max-width: 991px) {
        h2 {
            width: 100%;
            text-align: center;
        }
    }
}

.pie-chart {
    align-self: center;
    width: 260px;
    height: auto;
    margin: 0 auto;
}

.profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;


    & img {
        margin: 0 auto;
        width: 200px;

    }

}

.transfer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4rem;

    & form {
        flex-grow: 1;
    }

    & div {
        flex-grow: 1;

        & img {
            width: 300px;
            margin: 0 auto;
        }
    }

    @media (max-width: 780px) {
        flex-direction: column;
    }
}

footer {
    background-color: var(--primary);
    min-height: 100px;
    padding: 2rem;
    width: 100%;

    & div {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & img {
            width: 140px;
            height: auto;
        }
    }

    & h5 {
        color: var(--tertiary);
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & ul {
            color: var(--tertiary);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & li:hover {
                cursor: pointer;
                color: var(--secondary);
            }
        }
    }

}
