<div class="card-block animate__animated animate__fadeInUp">
    <h2 class="text-center">Create Account</h2>
    <hr>
    <div class="d-flex gap-4 flex-column flex-md-row">
        <div class="w-100 d-flex justify-content-center">
            <img src="./img/create.svg" alt="create" />
        </div>
        <div class="w-100 d-flex flex-column justify-content-center">
            <h4 class="mb-4">
                Complete the information below to create your account and access your financial resources
            </h4>

            <form method='POST' enctype='multipart/form-data' action='http://localhost:3000/create'>
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="first_name" name="first_name"
                            placeholder="First Name">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                        <label for="last_name">Last Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="name@alkewallet.com">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="repeat_password" name="repeat_password"
                            placeholder="Repeat Password">
                        <label for="repeat_password">Repeat Password</label>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end gap-3">
                        <a href="/">
                            <button type="button" class="btn btn-outline-primary" onclick="cancelAction()">
                                Cancel
                            </button>
                        </a>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function cancelAction() {
        window.location.href = "/";
    }

    $('form').submit(async (event) => {
        event.preventDefault();

        const first_name = $('#first_name').val();
        const last_name = $('#last_name').val();
        const email = $('#email').val();
        const password = $('#password').val();
        const repeat_password = $('#repeat_password').val();

        try {
            const response = await fetch('http://localhost:3000/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ first_name, last_name, email, password, repeat_password })
            });

            const result = await response.json();

            if (result.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: result.message,
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.href = '/login';
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: result.message
                });
            }
        } catch (error) {
            console.error('Error de red:', error);
        }
    });
</script>
