<div class="banner">
    <div>
        <img src="./img/brand.svg" alt="brand" />
        <hr>
        <h1>
            Empower your finances <br>
            Transform your future
        </h1>
    </div>
    <img class="animate__animated animate__fadeInUp" src="./img/saving.svg" alt="saving" />
    {{#unless isAuthenticated}}
    <div>
        <a href="./create">
            <button class="btn btn-primary">Create Account</button>
        </a>
    </div>
    {{/unless}}
</div>

<section class="table-currency">
    <h2 class="text-center">
        Values in Relation to the Dollar Today's Date
    </h2>
    <div>
        <table class="table table-striped m-0">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Currency</th>
                    <th class="text-center" scope="col">Value</th>
                </tr>
            </thead>
            <tbody id="currencyTableBody">
            </tbody>
        </table>
    </div>

</section>

<section class="block-slider">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/slider-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Plan for Financial Freedom</h5>
                    <p>Build wealth through strategic investments</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./img/slider-2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Invest Wisely, Reap Rewards</h5>
                    <p>Take control of your finances and live the life you deserve</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./img/slider-3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Secure Your Future Today</h5>
                    <p>Diversify your portfolio for long-term financial stability</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./img/slider-4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Navigate Financial Markets with Confidence</h5>
                    <p>Empower yourself with financial knowledge and make informed decisions</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fetchUrl = 'https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies';
        const baseCurrency = 'usd';
        const currenciesToCompare = ['clp', 'ars', 'pen', 'cop', 'usdt', 'eur', 'gbp', 'jpy', 'cad', 'aud'];

        const fetchPromises = currenciesToCompare.map(currency => {
            const url = `${fetchUrl}/${baseCurrency.toLowerCase()}/${currency}.json`;
            return fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error fetching data for ${currency}: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const { date, ...currencies } = data;
                    const currencyDataArray = Object.entries(currencies).map(([currency, value]) => ({
                        date,
                        currency,
                        value
                    }));
                    return currencyDataArray;
                })
                .catch(error => {
                    console.error(`Error fetching data for ${currency}:`, error);
                    return null;
                });
        });

        Promise.all(fetchPromises)
            .then(arrayOfCurrencyDataArrays => {
                const currencyDataArray = [].concat(...arrayOfCurrencyDataArrays);
                const currencyTableBody = document.getElementById('currencyTableBody');
                currencyDataArray.forEach(currencyData => {
                    if (currencyData) {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td class="text-center">${currencyData.currency.toUpperCase()}</td>
                        <td class="text-center">${currencyData.value.toFixed(3)}</td>
                    `;
                        currencyTableBody.appendChild(row);
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data for currencies:', error);
            });
    });

</script>
