<div class="card-block animate__animated animate__fadeInUp">
    <h2 class="text-center">Access to my account</h2>
    <hr>
    <div class="d-flex gap-4 flex-column flex-md-row">
        <div class="w-100 d-flex justify-content-center">
            <img src="./img/login.svg" alt="login" />
        </div>
        <div class="w-100 d-flex flex-column justify-content-center">
            <h4 class="mb-4">
                Please provide the following information to access your assets and financial resources
            </h4>
            <form id="loginUser" action="/login" method="POST">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-flex justify-content-end mt-4 gap-3">
                        <a href="/">
                            <button type="button" class="btn btn-outline-primary">
                                Back
                            </button>
                        </a>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function cancelAction() {
        window.location.href = "/";
    }
</script>
