<div class="profile-section animate__animated animate__fadeInUp">

    {{> navprofile}}

    <div class="body-container d-flex flex-column flex-lg-row gap-5">


        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between mb-3">
                <h2>Accounts</h2>
                <span class="icon-btn">
                    <i class="fa-regular fa-credit-card"></i>
                </span>
            </div>


            <div class="d-flex flex-column flex-sm-row flex-lg-column gap-3 justify-content-center align-items-center">

                <div class="card-container">
                    <div>
                        <h4>
                            Credit Account
                        </h4>
                        {{#if showIcon}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye"></i>
                        </span>
                        {{else}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye-slash"></i>
                        </span>
                        {{/if}}
                    </div>
                    <div>
                        ********
                    </div>
                    <div>
                        <hr>
                        <p>3547 5749 57684 ***</p>
                    </div>
                </div>
                <div class="card-container">
                    <div>
                        <h4>
                            Saving Account
                        </h4>
                        {{#if showIcon}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye"></i>
                        </span>
                        {{else}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye-slash"></i>
                        </span>
                        {{/if}}
                    </div>
                    <div>
                        ********
                    </div>
                    <div>
                        <hr>
                        <p>3547 5749 57684 ***</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="table-transaction">
            <div>
                <div class="d-flex justify-content-between mb-3">
                    <h2>Historical Transactions</h2>
                    {{#if showIcon}}
                    <span class="icon-btn">
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    {{else}}
                    <span class="icon-btn">
                        <i class="fa-regular fa-eye-slash"></i>
                    </span>
                    {{/if}}
                </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024-02-28</td>
                            <td><i class="fa-solid fa-receipt"></i>Purchase</td>
                            <td>$50.00</td>
                        </tr>
                        <tr>
                            <td>2024-02-27</td>
                            <td><i class="fa-solid fa-money-bill-transfer"></i>Deposit</td>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <td>2024-02-27</td>
                            <td><i class="fa-solid fa-money-bill-transfer"></i>Deposit</td>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <td>2024-02-27</td>
                            <td><i class="fa-solid fa-money-bill-transfer"></i>Deposit</td>
                            <td>$1400.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="chart">
            <div class="d-flex justify-content-between mb-3">
                <h2>Assets</h2>
                {{#if showIcon}}
                <span class="icon-btn">
                    <i class="fa-regular fa-eye"></i>
                </span>
                {{else}}
                <span class="icon-btn">
                    <i class="fa-regular fa-eye-slash"></i>
                </span>
                {{/if}}
            </div>
            <div class="chart-img">
                <img class="pie-chart" src="../img/chart.svg" alt="chart">
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.icon-btn').click(function () {
            $(this).find('i').toggleClass('fa-eye fa-eye-slash');
        });
    });
</script>
