<div class="profile-section">

    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Balance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transfer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-container">

        <div class="d-flex flex-column gap-3">
            <h2>Accounts</h2>
            <div class="card-container">
                <div>
                    <h4>
                        Credit Account
                    </h4>
                    <i class="fa-regular fa-eye-slash"></i>
                </div>
                <div>
                    ********
                </div>
                <div>
                    <hr>
                    <p>3547 5749 57684 ***</p>
                </div>
            </div>
            <div class="card-container">
                <div>
                    <h4>
                        Saving Account
                    </h4>
                    <i class="fa-regular fa-eye-slash"></i>
                </div>
                <div>
                    ********
                </div>
                <div>
                    <hr>
                    <p>3547 5749 57684 ***</p>
                </div>
            </div>
        </div>

        <div class="table-transaction">
            <div>
                <h2>Historical Transactions</h2>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024-02-28</td>
                            <td><i class="fa-solid fa-receipt"></i>Purchase</td>
                            <td>$50.00</td>
                        </tr>
                        <tr>
                            <td>2024-02-27</td>
                            <td><i class="fa-solid fa-money-bill-transfer"></i>Deposit</td>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <td>2024-02-27</td>
                            <td><i class="fa-solid fa-money-bill-transfer"></i>Deposit</td>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <td>2024-02-27</td>
                            <td><i class="fa-solid fa-money-bill-transfer"></i>Deposit</td>
                            <td>$1400.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="chart">
            <h2>Assets</h2>
            <div class="chart-img">
                <img class="pie-chart" src="../img/chart.svg" alt="chart">
            </div>
        </div>

    </div>
</div>
