<div class="profile-section animate__animated animate__fadeInUp">

    {{> navprofile}}

    <div class="body-container d-flex flex-column gap-5">
        <div class="profile-info">
            <div class="profile-picture">
                <img src="../img/profile.svg" alt="profile picture">
                <span class="icon-btn">
                    <i class="fa-solid fa-camera"></i>
                </span>
            </div>
            <h4>
                Personal Information
            </h4>
            <div>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
                <p>Email: {{user.email}}</p>
                <p>Password: </p>
            </div>
        </div>

    </div>

</div>
