<div class="profile-section animate__animated animate__fadeInUp">

    {{> navprofile}}

    <div class="body-container d-flex flex-column gap-5">
        <div class="profile-info">
            <img src="../img/profile.svg" alt="profile picture">
            <div>
                <p>First Name</p>
                <p>Last Name</p>
                <p>Email</p>
            </div>
        </div>

    </div>

</div>
