<div class="profile-section animate__animated animate__fadeInUp">

    {{> navprofile}}

    <div class="body-container d-flex flex-column gap-5">
        <div class="profile-info">
            <div class="profile-picture">
                <img src="../img/profile.svg" alt="profile picture">
                <span class="icon-btn">
                    <i class="fa-solid fa-camera"></i>
                </span>
            </div>
            <div class="personal-information">
                <h4>
                    Personal Information
                </h4>
            </div>
            <div class="d-flex flex-column gap-3 w-100">
                <div class="col-12 col-md-5 m-auto">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" class="form-control" value="{{user.first_name}}" disabled>
                </div>

                <div class="col-12 col-md-5 m-auto">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" class="form-control" value="{{user.last_name}}" disabled>
                </div>

                <div class="col-12 col-md-5 m-auto">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" value="{{user.email}}" disabled>
                </div>
                <div class="col-12 col-md-5 m-auto">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" value="{{user.password}}" disabled>
                </div>

            </div>
        </div>
    </div>

</div>
