<div class="profile-section animate__animated animate__fadeInUp">
    {{> navprofile}}
    <div class="transfer-container">
        <div class="select-trasnfer">
            <h4>What action would you like to take?</h4>
            <div>
                <button id="withdrawalBtn" class="btn btn-primary flex-grow-1">Withdrawal
                    <img src="./img/withdrawal-icon.svg" alt="transfer money">
                </button>

                <button id="depositBtn" class="btn btn-primary flex-grow-1">Deposit
                    <img src="./img/transfer-icon.svg" alt="transfer money">
                </button>
            </div>
            <div id="withdrawalForm" class="form-container">
                {{> withdrawal}}
            </div>
            <div id="depositForm" class="form-container" style="display: none;">
                {{> deposit}}
            </div>
        </div>
        {{!-- --}}
        <div>
            <img src="./img/deposit-img.svg" alt="deposit-pig">
        </div>
    </div>
</div>
<script>
    const withdrawalBtn = document.getElementById('withdrawalBtn');
    const depositBtn = document.getElementById('depositBtn');
    const withdrawalForm = document.getElementById('withdrawalForm');
    const depositForm = document.getElementById('depositForm');

    withdrawalBtn.addEventListener('click', function () {
        withdrawalForm.style.display = 'block';
        depositForm.style.display = 'none';
    });

    depositBtn.addEventListener('click', function () {
        withdrawalForm.style.display = 'none';
        depositForm.style.display = 'block';
    });
</script>
