<footer>
    <div class="d-flex flex-column flex-md-row">
        <img src="./img/brand-secondary.svg" alt="brand-secondary" />
        <div>
            <h5>
                Social Media
            </h5>
            <ul>
                <li>
                    <a href="https://www.facebook.com/zanozano/" aria-label="facebook" target="_blank">
                        <i class="fa-brands fa-facebook fa-2xl"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/zanozano" aria-label="github" target="_blank">
                        <i class="fa-brands fa-github fa-2xl"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/zanozanozano/" aria-label="instagram" target="_blank">
                        <i class="fa-brands fa-instagram fa-2xl"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/zanozano/" aria-label="linkedin" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2xl"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-4">
    <p class="text-center m-0">&copy; <span id="year"></span> Alke Wallet. All rights reserved</p>
</footer>

<script>
    const yearElement = document.getElementById('year');
    const currentYear = new Date().getFullYear();
    yearElement.textContent = currentYear;
</script>
