<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <div class="block">
                    <img src="./img/favicon.png" alt="brand">
                    <p>
                        Alke Wallet
                    </p>
                    {{#if isAuthenticated}}
                    |
                    <p>Bienvenido {{ user.first_name }}</p>
                    {{/if}}
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {{#if isAuthenticated}}
                    <li class="nav-item">
                        <a class="nav-link" id="profileLink" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logoutLink" href="#" onclick="signOut()">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" id="loginLink" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    function signOut() {
        Swal.fire({
            title: 'Sign Out',
            text: 'Are you sure you want to sign out?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#22A948',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                axios.post('/logout', {}, { withCredentials: true })
                    .then(response => {
                        if (response.status === 200) {
                            localStorage.removeItem('sessionToken');
                            Swal.fire({
                                title: 'Sign Out Successful!',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 1500,
                            }).then(() => {
                                window.location.href = '/';
                            });
                        } else {
                            throw new Error('Failed to sign out on the server');
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Failed to sign out. Please try again.',
                            icon: 'error',
                        });
                    });
            }
        });
    }
</script>
