<nav class="profile-nav">
    <ul>
        <li class="{{#if (isActive '/profile' currentUrl)}}active-link{{/if}}">
            <a href=" /profile">Account</a>
        </li>
        <li class="{{#if (isActive '/transfer' currentUrl)}}active-link{{/if}}">
            <a href="/transfer">Transfer</a>
        </li>
        <li class="{{#if (isActive '/settings' currentUrl)}}active-link{{/if}}">
            <a href="/settings">Settings</a>
        </li>
    </ul>
</nav>
